/* Variables */
@import 'variables';
/* Util */
@import 'util';


/* Bootstrap */
@import '~bootstrap/scss/bootstrap';


#app {
	position: relative;
	font-family: $font-family-sans-serif;
}

main {
	height: 100%;
	width: 100%;
}
	

#home {
	color: #444;
	height: 100%;
	padding-top: 20vh;
	
	&.map-page {
		padding-top: 5vh;
	}
	
	h1 {
		font-weight: 700;
		text-shadow: 0px 12px 18px rgba(0,0,0,0.075);
	}
}

nav {
	position: fixed;
    right: 0;
    margin: 1.5em;
    width: calc(100% - 3em);
	z-index: 1;
	a {
		color: #444;
	}
}

.map-thumb {
	@extend %round-shadow;
	
	display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 220px;
    background-color: #fff;
	
	img {		
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 13em;
		margin-bottom: 0.25em;
	}
}

#mapWrap {
	@extend %round-shadow;
	position: relative;
}

#mapbox {
	@extend %round-shadow;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    top: 1em;
    bottom: 0;
    height: 80vh;
}

#pointer-display {
    background: #fff;
    position: absolute;
    top: 120%;
	bottom: -100%;
    left: 0;
    right: 0;
    padding: 1.25em;
    box-shadow: 1px 1px 18px rgba(0,0,0,0.1);
	transition: top 0.2s;
	
	.close {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0.75em;
		cursor: pointer;
	}
	
	.image {
		max-width: 320px;
		background-position: top center;
		background-size: contain;
		background-repeat: no-repeat;
		float: left;
		margin: 0 1.5em 1.5em 0;
	}
}
#pointer-display[data-display="true"] {
    top: 12%;
}